body {
    font-family: 'roboto',sans-serif;
    font-size:24px;
    margin:0;
    padding-top: 76px;
    background-color: pink;

}

ul {
    padding: 0;
    margin: 0;
}

li {
    padding: 0px;
}

a>img {
    height: 50px;
    width: 50px;
}

#section6 {
    background-color: white;
}

#section5 {
    background-color: #f8f8f8;
}

#section4 {
    background-color: white;
}

#section3 {
    background-color: #f8f8f8;
}

#section2 {
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgb(108, 225, 229);
    padding: 0px;
}

#section1 {
background:black;
    color:white;
}

nav>ul {
    list-style: none;
}

section {
    border-bottom: 3px groove rgba(0, 0, 0, 0.11);
    padding: 20px;
}

.photo {
    width: 300px;
    height: auto;
}


.email {
    color:white;
    background-color: black;
    text-decoration: none;
}

section ul li {
    list-style: none;
}

#section1 {
    background-image: url("../css/r7Z09Ht.gif");
}
#section2 a {
    color:black;
    text-decoration: none;
    padding: 2px;

}

#section2 a {
    background-color: #50D2D5;
}

.projets p {
    font-variant: small-caps;
    margin: 2% ;
    font: 100 1em/1.5em 'Roboto';
    font-size: medium;
    text-align: justify;
}

#section4 p {
    font: 100 1em/1.5em 'Roboto';
    font-size: medium;
    text-align: justify;
}

nav {
text-align: center;
}

#section1 p,h1 {
    background-color: rgba(255, 68, 68, 0.35);
    width: 350px;
}

#section3 p {
    font: 100 1em/1.5em 'Roboto';
    font-size: medium;
}

#section4 li {
    list-style: none;
}

#section2 li {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

img.collectif {
    width: 200px;
    height: auto;
}

img.westfalia {
    width: 45px;
    height: auto;
}

img.photo, img.projets {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

ul.palette li {
    height: 20px;
    margin: 0px;
}

#section3 li p {
    line-height: 2;
}

